<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  
  <div class="first-container">
     
    <a href="Home" class="active">Home</a>
    <a href="">Shop</a>
    <a href="">About Us</a>
    <a href="">Gallery</a>
    <a href="">Contact</a>

  </div>

  <div class="flex-container">
    <div class="flex-child magenta">
      <h1>Handmade Comfort</h1>
      <p>Powered by Lithuanian<br> grandmass</p>
      <button class="button-5" role="button">Shop now</button>
    </div>
    
    <div class="flex-child green">
      <img src="/assets/shoe.jpg" alt="image">
    </div>
    

    
  </div>
  
</body>
</html>